/* Algolia search */

.ais-Hits-item {
  border-radius: 0.25rem;
}

.ais-Hits-item:hover {
  /*  background-color: rgba(84, 160, 183, 0.16);*/
  background-color: #efefef;
}

.ais-Panel-header {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.ais-Panel-collapseButton {
  z-index: 20;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.ais-ClearRefinements-button {
  background: rgba(84, 160, 183);
}

.ais-ClearRefinements .ais-ClearRefinements-button:hover {
  color: white;
}

.ais-CurrentRefinements-category .ais-CurrentRefinements-delete:hover {
  color: red;
}

.ais-ClearRefinements-button--disabled {
  visibility: hidden;
}

.sticky-sidebar {
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

a.ais-HierarchicalMenu-link {
  display: inline-flex;
}

/* Search page Colors*/

#refinements-section h3 {
  color: var(--l1916-base-color-dark);
}

.ais-RefinementList-labelText,
.ais-HierarchicalMenu-label,
.ais-Panel-header,
.ais-Stats-text,
.ais-Snippet {
  color: var(--l1916-base-color-dark);
}

.ais-CurrentRefinements .ais-CurrentRefinements-item {
  background-color: var(--l1916-base-color-dark);
}

.ais-RefinementList-item .ais-RefinementList-count {
  color: var(--l1916-base-color-light);
  background-color: var(--l1916-base-color);
}

.ais-HierarchicalMenu-item .ais-HierarchicalMenu-count {
  color: var(--l1916-base-color-light);
  background-color: var(--l1916-base-color);
}

.ais-RefinementList .ais-RefinementList-showMore {
  color: var(--l1916-base-color-light);
  background-color: var(--l1916-base-color);
}
.ais-RefinementList .ais-RefinementList-showMore:hover {
  background-color: var(--l1916-base-color-hover);
}

.ais-HierarchicalMenu .ais-HierarchicalMenu-showMore {
  color: var(--l1916-base-color-light);
  background-color: var(--l1916-base-color);
}
.ais-HierarchicalMenu .ais-HierarchicalMenu-showMore:hover {
  background-color: var(--l1916-base-color-hover);
}

button.ais-ClearRefinements-button,
button.ais-RangeInput-submit,
.modal-footer .btn,
.btn-group .btn {
  background-color: var(--l1916-base-color);
  border: var(--l1916-base-color-dark) 1px solid;
  color: var(--l1916-base-color-light);
}

button.ais-ClearRefinements-button:hover,
button.ais-RangeInput-submit:hover,
.ais-Pagination-item--selected .ais-Pagination-link:hover,
.modal-footer .btn:hover,
.btn-group .btn:hover {
  background-color: var(--l1916-base-color-hover);
  border: var(--l1916-base-color-dark) 1px solid;
  color: var(--l1916-base-color-light);
}

.ais-Hits-item {
  background-color: var(--l1916-base-color-light);
}
.ais-Hits-item .badge {
  color: var(--l1916-base-color);
}

.ais-Hits-item .badge:hover {
  background-color: var(--l1916-base-color-light);
  color: var(--l1916-base-color-dark);
}

.ais-Pagination-list .ais-Pagination-link {
  color: var(--l1916-base-color-dark);
}

.ais-Pagination-list .ais-Pagination-link:hover {
  color: var(--l1916-base-color-dark);
}
.ais-Pagination-list .ais-Pagination-item--selected .ais-Pagination-link {
  background-color: var(--l1916-base-color-dark);
  border-color: var(--l1916-base-color-dark);
}
